* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    font-family: sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
.hero {
    background-image: url("images/n1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
}
.hero-text h1 {
    font-size: 48px;
    margin: 10px 0;
}
.hero-text h4 {
    font-size: 24px;
    margin: 0;
}
.hero-text p {
    font-size: 18px;
    margin: 10px 0;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
}
.social-icons img {
    width: 24px;
    height: 24px;
}
.satisfied {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    color: #333;
}
.satisfied .highlight {
    color: #d72660;
}
.satisfied::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #d72660;
} /* აქ მთავრდება 1 დივი */
.about-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background: rgb(254, 252, 252);
}
.about-left {
    width: 40%;
}
.hire-btn {
    background-color: #f8495f;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
}
.about-image {
    width: 30%;
    background-image: url("images/n1.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}
.skills-section {
    width: 25%;
}
.skill {
    margin-bottom: 20px;
}
.progress-bar {
    background: #eee;
    height: 6px;
    border-radius: 4px;
    overflow: hidden;
}
.progress-bar-fill {
    height: 100%;
    background: #f8485e;
    width: 0;
    transition: width 1s ease-in-out;
}
.skill span {
    color: #f8495f;
}
.about-left h1 {
    font-size: 28px;
    font-weight: bold;
}
.about-left h3 {
    color: orange;
    font-weight: 500;
}
.about-left p {
    color: #666;
    line-height: 1.6;
}
.skill {
    margin-bottom: 20px;
}

.skill span {
    font-weight: bold;
}
/*აქ მთავრდება მეორე დივი */
.contact-info {
    display: flex;
    justify-content: space-around;
    background-color: #0d1436;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.contact-item {
    max-width: 250px;
}
.icon-circle {
    width: 60px;
    height: 60px;
    border: 2px dashed white;
    border-radius: 50%;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.icon-circle.red {
    background-color: #f8485e;
    border: none;
    color: white;
}
.contact-item h3 {
    margin: 10px 0 5px;
    font-weight: 600;
}
.contact-item p {
    color: #b0b0b0;
    font-size: 14px;
    line-height: 1.5;
} /*აქ მთავრდება მესამე დივი*/

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 50px;
    background-color: #f5f5f5;
}
.service-card {
    background-color: #f5f5f5;
    padding: 40px 20px;
    text-align: center;
    border: 1px solid #ddd;
    transition: 0.3s;
    font-family: sans-serif;
    color: #1a1a1a;
}
.service-card i {
    font-size: 30px;
    color: #0d1436;
    margin-bottom: 15px;
}
.service-card h4 {
    margin-bottom: 10px;
    font-size: 16px;
}
.service-card.active {
    background-color: #0d1436;
    color: white;
}
.service-card.active p {
    font-size: 14px;
    line-height: 1.5;
    color: #ddd;
    margin-top: 10px;
} /*აქ მთავრდება მეოთხე დივი*/
