* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
.header {
    background-color: grey;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section {
    display: flex;
    justify-content: space-between;
    padding: 60px 100px;
    border: 1px solid green;
}
.left button {
    margin-top: 20px;
    background-color: #f43f5e;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
}
.middle-divider {
    width: 80px;
    background-color: #4a4a4a;
    height: auto;
}
.right {
    width: 60%;
}

.bar-container {
    margin-bottom: 20px;
}

.bar-label {
    font-size: 14px;
    margin-bottom: 5px;
}
.contact-section {
    background-color: #0f172a;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}
.contact-item {
    width: 300px;
}
